{% extends 'base.html.twig' %}

{% block title %}Hello HomePageController!{% endblock %}

{% block body %}
    <div class="container" style="text-align: center">
        <h1>Bienvenue sur l'application F & BC - RENTAB</h1>
        <p>Le but de cette application est de calculer la rentabilité de nos différentes gammes de produits</p>
        <p>Pour vous rendre sur la page de calcul de bénéfice de chacune de nos gammes de produits, <a href="#">cliquez ici</a>.</p>
        <p>Elle permet également de visualiser les prix maximum autorisés pour faire du bénéfice sur nos différentes gammes</p>
        <p>Pour vous rendre sur la page de calcul des prix maximum pour être rentable, <a href="#">cliquez ici</a>.</p>
    </div>
{% endblock %}
