{% extends 'base.html.twig' %}

{% block title %}Hello HomePageController!{% endblock %}

{% block body %}
    <div class="container" style="text-align: center">
        <a href="mailto:reclamation@m2gi.fr?subject=À propos de {{ app.request.uri }}">Envoyer un mail</a>
    </div>

    <div class="container" style="text-align: center;padding: 20px">
        <h2>Projet de Symfony</h2>
        <p>Projet de complément Génie informatique</p>

        <h2>Membre du groupe</h2>

            Liam Davies,
            Alexandre Conrad et
            Geoffrey Bauqué

        <h2>Documentations et lien GIT</h2>
        <a href="https://github.com/Nexey/LAG">Documentations</a>
      </div>

{% endblock %}
