<footer class="text-center p-3 bg-light">
    <a href="mailto:reclamation@m2gi.fr?subject=À propos de {{ app.request.uri }}">À propos</a>
    <p>Copyright © 2021 BAUQUE Geoffrey, CONRAD Alexandre et DAVIES Liam</p>
</footer>