<div id="navbar">
    {% block navbar %}
        <ul>
            <li><a href="/">Home</a></li>
            {% if app.user %}
                <li><a href="/logout">Logout</a></li>
            {% else %}
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
                <li><a href="/admin">Dashboard</a></li>
            {% endif %}
            <li><a href="/about">À propos</a></li>
        </ul>
    {% endblock %}
</div>
